<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <header>
      <h1>Dashboard</h1>
      <p>Welcome, <strong><%= user.username %></strong>!</p>
    </header>
    
    <div>
      <ul>
        <% for( let i = 0; i  < entities.length; i ++ )  { %>
          <a href="/entities/<%= entities[i].id %>">
            <li><%- entities[i].name %>(<%- entities[i].type %>)</li>
          </a>
        <% } %>
      </ul>
    </div>
  </br>
  <h2>Add a Folder</h2>
    <form method="POST" action="/entities/folder?parent=<%= currentFolderId || '' %>">
      <div>
        <label for="name">Folder Name:</label>
        <input type="text" id="name" name="name" required />
      </div>
      
      <button type="submit">Add Folder</button>
    </form>
  </body>
</html>
